<table id="cards_list" class="display">
  <thead>
  <tr>
	<th>Add</th>
	<th>MVID</th>
	<th>Name</th>
	<th>Type</th>
	<th>CMC</th>
	<th>Power</th>
	<th>Toughness</th>
	<th>Mana Cost</th>
	<th>Rarity</th>
  </tr>
  </thead>
  <tbody>
  <%  fetcharray[0,999].each do |hash| %>
	  <tr>
		<td><%= link_to "Add Card", {:controller => "cards", :action => "create",  :mId => hash[:id], :relatedCardId => hash[:relatedCardId], :setNumber => hash[:setNumber], :name => hash[:name], :searchName => hash[:searchName], :description => hash[:description], :flavor => hash[:flavor], :colors => hash[:colors], :manaCost => hash[:manaCost], :convertedManaCost => hash[:convertedManaCost], :cardSetName => hash[:cardSetName], :mtgType => hash[:type], :subType => hash[:subType], :power => hash[:power],  :toughness => hash[:toughness], :loyalty => hash[:loyalty], :rarity => hash[:rarity], :artist => hash[:artist], :cardSetId =>  hash[:cardSetId], :token => hash[:token], :promo => hash[:promo], :releasedAt => hash[:releasedAt], :user_id => current_user}, :remote => true, :method => :post %></td>
		<td><div class="hover_img">
		  <a href=<%= "http://api.mtgdb.info/content/hi_res_card_images/#{hash[:id]}.jpg" %>><%= hash[:id]%><span class="centered"><img src=<%= "http://api.mtgdb.info/content/hi_res_card_images/#{hash[:id]}.jpg"%>  alt="image" height="250" /></span></a>
		</div></td>
		<td><%= hash[:name] %>
		<td><%= hash[:type]%></td>
		<td><%= hash[:convertedManaCost]%></td>
		<td><%= hash[:power]%></td>
		<td><%= hash[:toughness]%></td>

		<td>
		  <% if hash[:manaCost].to_s =~ /(\d+)/%>
			  <%= image_tag("#{$1}.gif", alt: "#{$1}", size: '13x13', class: 'round' ) %>
		  <% end %>
		  <%   manacost = hash[:manaCost].to_s.tr('0-9X', '') %>
		  <% if !manacost.nil? and !manacost.empty? %>
			  <% manacost.split(//).each do |m| %>
				  <%= image_tag("mtg#{m}.gif", alt: "mtg{m}", size: '13x13', class: 'round' ) %>
			  <% end %>
		  <% end %>
		</td>
		<td><%= hash[:rarity]%></td>
  <% end %>

  </tr>
  </tbody>
</table>
